header{
     text-align: center; 
     background-color: black;
     padding: 5px;
     color:white;
     width: 100%;
     position: fixed;
     top:0;
     left:0;
     display: flex;
     justify-content:space-evenly;
     align-items: center;
}

.navbarContainer{
     text-align: center; 
     background-color: rgb(78, 76, 76);
     padding: 5px;
     color:white;
     width: 100%;
     position: fixed;
     top: 150px;;
     left:0;
     display: flex;
     justify-content:space-evenly;
     align-items: center;
}

.navLinks {
    margin-right: 15px; /* Aggiunge spazio a destra di ogni link */
    color: white; /* Colore del testo */
}

.Agenzia{
     margin:0;
}

.titleContainer {
     display:flex;
     align-items: center;
   }

.tabella{
     color:"balck";

}

.colore{
     color: black;
}

