.compagnieTable {
    width: 100%;
    border-collapse: collapse;
    background-color: black;
    color: yellow;
  }
  
  .compagnieTable th, .compagnieTable td {
    border: 2px solid white;
    padding: 8px;
  }
  
  .compagnieTable th {
    background-color: black;
    color: yellow;
    text-align: left;
  }
  
  .compagnieTable tr:nth-child(even) {
    background-color: black;
  }
  
  .compagnieTable tr:hover {
    background-color: #333;
  }
  
  .compagnieTable td {
    text-align: left;
  }