header{
     text-align: center; 
     background-color: black;
     padding: 20px;
     color:white;
     width: 100%;
     position: fixed;
     top:0;
     left:0;
     display: flex;
     justify-content:space-evenly;
     align-items: center;
}

.navLink {
    margin-right: 15px; /* Aggiunge spazio a destra di ogni link */
  }

.Agenzia{
     margin:0;
}

.titleContainer {
     display:flex;
     align-items: center;
   }

.tabella{
     color:"balck";

}

