.Table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.Table th, .cTable td {
  padding: 12px 15px;
  border: 1px solid #e8dfdf;
}

.Table th {
  background-color: #aaa6a6;
  color: #0f100f;
}

.Table tr:nth-child(even) {
  background-color: hsl(0, 31%, 95%);
}

.Table tr:hover {
  background-color: #c8bebe;
}

.Table td {
  color: #804b4b;
}