#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

body{
  background: white;
}

.mainApp{
  padding: 20px;
  margin-top: 60px;
  width: 100%;
}

footer{
  background-color: black;
  color:white;
  padding: 10px;
  width: 100%; 
  position: fixed;
  bottom: 0;
  left: 0 ;
}
